<ion-list>
    <ion-item-sliding *ngFor="let lista of whishesService.listas | filterComplete: terminada">
        <button ion-item  
                (click)="itemSelected(lista)">
                {{ lista.title }}
            <ion-note item-end>
                {{lista.items.length}} items
            </ion-note>
        </button>
        <ion-item-options side="left"
                          (click)="borrarLista(lista)">
            <button ion-button icon-only color="danger">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>