<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{lista.title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-list-header>
            Tareas por hacer
        </ion-list-header>
        <ion-item>
            <ion-label floating>New Item</ion-label>
            <ion-input [(ngModel)]="nameItem" type="text" (keyup.enter)="addItem()"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list>
        <button *ngFor="let item of lista.items" 
                ion-item detail-none 
                class="animated fadeInDown"
                (click)="actualizarTarea(item)">
            <ion-icon *ngIf="item.complete" name="checkbox" item-start></ion-icon>
            <ion-icon *ngIf="!item.complete" name="square-outline" item-start></ion-icon>
               {{item.desc}}
        </button>
    </ion-list>

</ion-content>
